.about-page {
	width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	padding-top: 6rem;
	padding-bottom: 1rem;

	section {
		padding-inline: 4rem;
	}

	section:nth-child(2) {
		padding-inline: 0;
	}

	.title {
		padding-top: 6rem;
		padding-bottom: 3rem;

		h1 {
			font-family: 'Cormorant', serif;
			font-size: 5rem;
			line-height: 4rem;
		}
	}
}
