.btn {
	width: fit-content;
	border: 1px solid var(--letter-color);
	transition: all 0.4s;
	cursor: pointer;
	padding: 1rem 3rem;

	&:hover {
		color: var(--base-color);
	}
}

.back-btn {
	width: fit-content;
	display: flex;
	padding: 0.8rem 4rem;
	font-size: 1.2rem;
	align-items: center;
	gap: 2rem;
	border: 1px solid var(--letter-color);
	transition: all 0.4s;
	cursor: pointer;

	&:hover {
		color: var(--base-color);
	}
}
