.community-page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
	padding-bottom: 1rem;
	opacity: 0;
	animation: fadeIn 1s ease-out forwards;
	animation-delay: 0.4s;

	section {
		padding-inline: 4rem;
	}

	.hero-section {
		display: flex;
		align-items: center;
		padding-block: 7rem;
	}
}
