.food-page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	padding-top: 8rem;
	padding-bottom: 1rem;

	section {
		padding-inline: 4rem;
	}

	.hero-section {
		display: flex;
		align-items: center;
		padding-block: 4rem;

		.hero-title {
			flex: 6;
			display: flex;
			flex-direction: column;
			gap: 4rem;

			h1 {
				font-size: 14rem;
				font-family: var(--pretty-font);
				line-height: 12rem;
			}

			p {
				writing-mode: vertical-lr;

				span {
					font-size: 2rem;
					line-height: 1rem;
				}
			}
		}

		.hero-image {
			flex: 4;
			position: relative;

			.image-text {
				position: absolute;
				text-align: end;
				top: -7.4rem;
				left: 15rem;

				p:nth-child(1) {
					margin-bottom: 1rem;
					font-size: 0.9rem;
				}

				p:nth-child(2) {
					font-size: 4rem;
				}
			}

			img {
				max-width: 32rem;
				max-height: 30rem;
				margin-left: 3rem;
			}
		}
	}

	.plates-section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 4rem;
	}
}
