.newsletter-wrapper {
	--color: var(--letter-color);
	--size: 30px;

	background-image: linear-gradient(90deg, #000 50%, transparent 0),
		linear-gradient(90deg, #000 50%, transparent 0),
		linear-gradient(180deg, #000 50%, transparent 0),
		linear-gradient(180deg, #000 50%, transparent 0);
	background-position: 0 0, 0 100%, 0 0, 100% 0;
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
	animation: moveCircle 0.4s infinite normal;
	animation-timing-function: linear;
	animation-play-state: paused;

	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 4rem;

	&:hover {
		animation-play-state: running;
	}

	p {
		font-size: 1.4rem;
		max-width: 17.5rem;
	}

	form {
		width: 100%;
		max-width: 42.5rem;
		display: flex;
		align-items: center;
		border: 1px solid var(--letter-color);
		padding: 1rem 2rem;

		input[type='email'] {
			flex-grow: 9;
			background-color: transparent;
			border: none;
			line-height: 1.4rem;

			&:focus {
				border: none;
				outline: none;
			}
		}

		.submit-wrap {
			flex-grow: 1;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: end;

			p {
				font-size: 2rem;
				line-height: 1rem;
				user-select: none;
			}

			input[type='submit'] {
				width: 2rem;
				height: 1.5rem;
				background-color: transparent;
				position: absolute;
				border: none;
				top: 50%;
				right: -4px;
				transform: translateY(-50%);
				cursor: pointer;
			}
		}
	}
}
