.hero-title {
	flex: 6;
	display: flex;
	flex-direction: column;
	gap: 4rem;

	h1 {
		font-size: clamp(10rem, 4vw, 16rem);
		font-family: var(--pretty-font);
		line-height: 10rem;
	}

	p {
		writing-mode: vertical-lr;
		opacity: 0.35;

		span {
			font-size: 2rem;
			line-height: 1rem;
		}
	}
}

.hero-image {
	flex: 4;
	position: relative;

	.image-text {
		position: absolute;
		text-align: end;
		top: -7.4rem;
		left: 14rem;
		z-index: 2;
		white-space: pre-line;

		p:nth-child(1) {
			margin-bottom: 1rem;
			font-size: 0.9rem;
		}

		p:nth-child(2) {
			font-size: 4rem;
		}
	}

	img {
		max-width: 32rem;
		max-height: 30rem;
		margin-left: 3rem;
		opacity: 0;
		animation: fadeIn 1s ease-in forwards;
		animation-delay: 0.4s;
	}
}
