.items-wrapper {
	position: absolute;
	width: 100%;
	max-height: 3.75rem;
	overflow: hidden;
	border: 1px solid #000;
	z-index: 1;
	scrollbar-width: none;
	transition: max-height 0.4s ease-out;

	.selected {
		display: flex;
		justify-content: space-between;
		padding-right: 1rem;

		p:nth-child(2) {
			font-size: 1.6rem;
			padding-bottom: 5px;
		}
	}

	.item {
		background-color: white;
		height: 3.75rem;
		display: flex;
		align-items: center;
		padding-left: 1rem;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
	}
}

.items-wrapper.open {
	overflow-y: scroll;
	height: fit-content;
	max-height: 16rem;
}
