.product-info-page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
	padding-bottom: 1rem;

	section {
		padding-inline: 4rem;
	}

	.hero-section {
		display: flex;

		.hero-left {
			width: 65%;
			display: flex;
			flex-direction: column;
			gap: 4rem;

			h2 {
				font-size: 6rem;
				font-family: var(--pretty-font);
			}
		}

		.hero-right {
			width: 35%;
		}
	}
}

.plates-page {
	button {
		background-color: var(--food-color);

		&:hover {
			background-color: var(--letter-color);
		}
	}
}
