.product-info-page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
	padding-bottom: 1rem;

	section {
		padding-inline: 4rem;
	}

	.hero-section {
		display: flex;
		margin-bottom: 3.75rem;
		padding-bottom: 6rem;
		background-image: linear-gradient(90deg, #000 50%, transparent 0),
			linear-gradient(90deg, #000 50%, transparent 0);
		background-position: 0 100%, 0 calc(100% - 14px);
		background-repeat: repeat-x;
		background-size: 24px 1px;
		animation: marche 0.8s infinite normal;
		animation-timing-function: linear;
	}

	.images-section {
		padding-block: 1rem;
	}

	.announcement-section {
		padding-block: 5rem;
	}
}

.plates-page {
	button {
		background-color: var(--food-color);

		&:hover {
			background-color: var(--letter-color);
		}
	}
}
