.product-info-page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	padding-top: 10rem;
	padding-bottom: 1rem;

	section {
		padding-inline: 4rem;
	}

	.hero-section {
		display: flex;
	}
}

.plates-page {
	button {
		background-color: var(--food-color);

		&:hover {
			background-color: var(--letter-color);
		}
	}
}
