.retail-page {
	animation-delay: 0.4s;
	padding-top: 5rem;

	.hero-section {
		display: flex;
		align-items: center;
		padding-block: 7rem;
	}

	.products-section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 5rem;
		column-gap: 3.75rem;
		padding-block: 1rem;
	}

	.announcement-section {
		padding-block: 7rem;
	}

	.footer-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5rem;
	}
}
