.retail-page {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;
	padding-bottom: 1rem;
	opacity: 0;
	animation: fadeIn 1s ease-out forwards;
	animation-delay: 0.4s;

	section {
		padding-inline: 4rem;
	}

	button {
		background-color: var(--retail-color);

		&:hover {
			background-color: var(--letter-color);
		}
	}

	.hero-section {
		display: flex;
		align-items: center;
		padding-top: 5rem;
		padding-bottom: 7rem;
	}

	.products-section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 5rem;
		column-gap: 3.75rem;
		padding-block: 1rem;
	}

	.announcement-section {
		padding-block: 7rem;
	}

	.footer-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5rem;
	}
}
