:root {
	--food-color: #5ea3ec;
	--retail-color: #f64444;
	--community-color: #ffb400;
	--base-color: #fff;
	--letter-color: #000;
}

.App {
	display: flex;
	height: 100dvh;
}

.nav-button {
	flex: 0.05;
	transition: flex 0.4s ease-in-out;
	font-family: 'Space Mono', monospace;
	position: relative;
	overflow-y: scroll;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform-origin: center;
		transform: translateY(-50%) translateX(-50%) rotate(90deg);
		font-size: 1.2rem;
		transition: opacity 0.4s ease-in-out;
	}

	p {
		width: 100%;
		position: absolute;
		margin-top: 5rem;
		font-size: 1.2rem;
		text-align: center;
		transition: opacity 0.4s ease-in-out;
	}

	.logo {
		position: absolute;
		top: 3rem;
		left: 3rem;
	}
}

.nav-button.selected {
	flex: 1;

	p {
		opacity: 0;
	}

	span {
		opacity: 0;
	}
}

.food,
.retail,
.community {
	animation: goDown 1s ease-in-out forwards;
}

.about {
	background-color: var(--base-color);
}

.food {
	background-color: var(--food-color);
	animation-delay: 0.4s;
}

.retail {
	background-color: var(--retail-color);
	animation-delay: 0.2s;
}

.community {
	background-color: var(--community-color);
}

@keyframes goDown {
	from {
		transform: translateY(-100vh);
	}
	to {
		transform: translateY(0);
	}
}
